/* 
#d2ae6c 
#c0393f
*/

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0;
}

nav .logo-img img {
  width: 4rem;
}

nav .links ul {
  display: flex;
}

nav .links ul li {
  list-style: none;
  margin-right: 2.5rem;
  transition: all 0.2s;
}

nav .links ul li:last-child {
  margin-right: 0;
}

nav .links ul li a {
  text-decoration: none;
  color: #5d5f61;
}

nav .links ul li:hover {
  transform: scale(1.2);
}

nav .links ul li:active {
  transform: translateY(0.2rem);
}

nav .icon {
  color: #d2ae6c;
  display: none;
  font-size: 2rem;
}

.section-title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  align-items: center;
}

.section-title::after,
.section-title::before {
  background: #000;
  height: .1rem;
  content: "";
}

.btn {
  transition: all 0.5s;
}

.btn:active {
  transform: translateY(0.2rem);
}

.card {
  width: 18rem;
  padding: 0;
}

.hero {
  padding: 10rem 0;
  background: url("hero-bg2.jpg");
  /* background-size: cover; */
  display: grid;
  place-items: center;
}

.hero .text-con {
  width: 75%;
}

.hero .text-con .main-heading {
  letter-spacing: 10px;
  animation: intro 1.5s ease-in forwards;
}

.hero .text-con .sub-heading {
  font-size: 1.2rem;
  animation: bounceIn 1.5s ease-out 0.2s forwards;
}

.hero .hero-btn {
  animation: appear 3s ease-in-out forwards;
}

@keyframes intro {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes bounceIn {
  from {
    transform: translateY(150%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.partners {
  padding: 0 5rem;
  overflow-x: auto;
}

.partner-con {
  margin-top: 0.5rem;
}

.partner-con .partners-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  filter: grayscale(1);
  margin-right: 2rem;
}

.partner-con p {
  font-size: 0.7rem;
  color: #777;
}

.services {
  padding: 2rem 2rem 4rem;
  /* background: #c0393f; */
  background: linear-gradient(219deg, #c0393f 50%, #d2ae6c 50%);
}

.services .card {
  padding: 3rem 0 4rem;
  /* width: 18rem; */
  transition: all 0.5s;
  cursor: pointer;
}

.services .card-con {
  margin-right: 0;
}

.services .card:hover {
  transform: translateY(-0.5rem);
}

.card-icon {
  color: #d2ae6c;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.see-more {
  display: inline;
}

.see-more:hover {
  color: #d2ae6c;
}

.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutions .card img {
  width: 100%;
}

.footer {
  background: #000;
}

.footer a {
  color: #d2ae6c;
  text-decoration: none;
}

.footer .logo-con img {
  max-width: 18rem;
  width: 15rem;
}

.footer .phone,
.footer .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer .newsletter i {
  color: #d2ae6c;
  cursor: pointer;
  padding: 0.7rem;
  background: #c0393f;
  border-radius: 50%;
}

.footer .newsletter input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5rem;
  text-align: center;
  color: #777;
  border-radius: none;
}

.footer .newsletter input:focus {
  outline: none;
}

@media (max-width: 500px) {
  nav .links {
    display: none;
  }

  nav .icon {
    display: block;
  }

  .hero {
    padding: 3rem 1rem;
  }

  .hero .text-con {
    width: 100%;
  }

  .partners {
    padding: 0;
  }

  .footer-con {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  nav .links {
    display: none;
  }

  nav .icon {
    display: block;
  }

  .hero {
    padding: 5rem 1rem;
  }

  .footer-con {
    flex-direction: column;
  }
}
